# Тема “Вычисления с помощью Numpy”

## Задание 1
Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. 
Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. 
Будем считать, что каждый столбец - это признак, а строка - наблюдение. 
Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. 
Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [1]:
import numpy as np

In [2]:
a = np.array([[1, 6], [2, 8], [3, 11], [3, 10], [1, 7]])
print(a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]

In [3]:
mean_a = a.mean(axis=0)
print(f'Среднее значение по двум признакам: {mean_a}')

Среднее значение по двум признакам: [2.  8.4]

## Задание 2
Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, 
содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. 
Получившийся массив должен иметь размер 5x2.

In [4]:
a_centered = a - mean_a
print(f'Отцентрированная выборка:\n{a_centered}')

Отцентрированная выборка:
[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

## Задание 3
Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. 
Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [5]:
a_centered_sp = a_centered.T[0].dot(a_centered.T[1])
print(f'Значение ковариации двух признаков: {a_centered_sp}')

Значение ковариации двух признаков: 8.0

In [6]:
cov_a = np.divide(a_centered_sp, a.shape[0]-1)
print(f'Значение несмещенной оценки ковариации: {cov_a}')

Значение несмещенной оценки ковариации: 2.0

## Задание 4**
Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. 
В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на N, 
поэтому полученная нами величина является несмещенной оценкой ковариации.
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. 
В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. 
В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации 
будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [7]:
print(f'Значение несмещенной оценки ковариации: {np.cov(a.T)[0, 1]}')

Значение несмещенной оценки ковариации: 2.0

# Тема “Работа с данными в Pandas”

## Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. 
Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: 
[1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, 
в которых соответственно содержатся данные:
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [8]:
import pandas as pd

In [9]:
authors = pd.DataFrame([[1,2,3], ['Тургенев', 'Чехов', 'Островский']], index=['author_id', 'author_name']).T

In [10]:
print(authors)

  author_id author_name
0         1    Тургенев
1         2       Чехов
2         3  Островский

In [11]:
book = pd.DataFrame([[1, 1, 1, 2, 2, 3, 3], 
                      ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 
                       'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                     [450, 300, 350, 500, 450, 370, 290]], index=['author_id', 'book_title', 'price']).T

In [12]:
print(book)

  author_id            book_title price
0         1           Отцы и дети   450
1         1                 Рудин   300
2         1     Дворянское гнездо   350
3         2      Толстый и тонкий   500
4         2       Дама с собачкой   450
5         3                 Гроза   370
6         3  Таланты и поклонники   290

## Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [13]:
authors_price = authors.set_index('author_id').join(book.set_index('author_id'),on='author_id')

In [14]:
print(authors_price)

          author_name            book_title price
author_id
1            Тургенев           Отцы и дети   450
1            Тургенев                 Рудин   300
1            Тургенев     Дворянское гнездо   350
2               Чехов      Толстый и тонкий   500
2               Чехов       Дама с собачкой   450
3          Островский                 Гроза   370
3          Островский  Таланты и поклонники   290

## Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [15]:
authors_price.sort_values(by=['price'], ascending=False).head(n=5)

          author_name         book_title price
author_id
2               Чехов   Толстый и тонкий   500
1            Тургенев        Отцы и дети   450
2               Чехов    Дама с собачкой   450
3          Островский              Гроза   370
1            Тургенев  Дворянское гнездо   350

## Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. 
В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, 
минимальная, максимальная и средняя цена на книги этого автора.

In [16]:
agg_func_max_min_mean = {'price':['min', 'max', 'mean']}

In [17]:
authors_stat = authors_price.groupby(['author_name']).agg(agg_func_max_min_mean).round(2)

In [18]:
print(authors_stat.rename(columns={'min': 'min_price', 'max': 'max_price', 'mean': 'mean_price'}))

                price
            min_price max_price mean_price
author_name
Островский        290       370     330.00
Тургенев          300       450     366.67
Чехов             450       500     475.00

## Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover, 
в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. 
В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.
Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. 
Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", 
а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, 
при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". 
Затем загрузите из этого файла датафрейм и назовите его book_info2. 
Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [19]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']

In [20]:
print(authors_price)

          author_name            book_title price    cover
author_id
1            Тургенев           Отцы и дети   450  твердая
1            Тургенев                 Рудин   300   мягкая
1            Тургенев     Дворянское гнездо   350   мягкая
2               Чехов      Толстый и тонкий   500  твердая
2               Чехов       Дама с собачкой   450  твердая
3          Островский                 Гроза   370   мягкая
3          Островский  Таланты и поклонники   290   мягкая

In [21]:
import numpy as np

In [22]:
book_info = pd.pivot_table(authors_price, values='price', index=['author_name'], columns=['cover'], aggfunc=np.sum)

In [23]:
book_info = book_info.fillna(0)

In [24]:
book_info.to_pickle("/Users/admin/Documents/book_info.pkl")

In [25]:
book_info2 = pd.read_pickle("/Users/admin/Documents/book_info.pkl")

In [26]:
print(book_info2)

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0

In [27]:
print(book_info.equals(book_info2))

True